#write-container {
	width: 400px;
}

#write-pad {
	border: 1px solid black;
}

.write-btn {
	width: 100%;
	height: auto;
}

.best-img-col {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	width: 100%;
	height: 100;
}